html, body, #map {
  height: 100%;
  width: 100%;
  margin: 0;
}
#about-modal .modal-content {
  padding: 0px;
}
#about {
  padding: 6px;
}
#map-list-container {
  padding: 0px;
}
#gps-btn {
  position: fixed;
  bottom: 86px;
  right: 15px;
  z-index: 999;
}
#fab-btn {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 999;
}
.fab-icon {
  height: 56px;
  width: 28px;
  pointer-events: none;
}
.fab-icon-small {
  height: 40px;
  width: 20px;
  margin-right: 10px;
  margin-left: 10px;
  pointer-events: none;
}
.collapsible-body {
  padding: 1.25rem;
}
.header-icon {
  margin-right: 10px;
}
.collection .collection-item {
  padding: 5px 5px;
}
.leaflet-control-locate {
  display: none;
}
.leaflet-popup-content-wrapper {
  border-radius: 4px;
}
.leaflet-popup-content {
  margin: 10px;
}
.leaflet-popup-close-button {
  display: none;
}
.leaflet-container {
  background-color:rgba(255,0,0,0.0);
}
.tabs .tab a{
  color:#000;
} /*Black color to the text*/
.tabs .tab a:hover {
  background-color:#eee;
  color:#000;
} /*Text color on hover*/
.tabs .tab a.active {
  background-color:#f5f5f5;
  color:#000;
} /*Background and text color when a tab is active*/
.tabs .indicator {
  background-color:#000;
} /*Color of underline*/
.tabs .tab a:focus, .tabs .tab a:focus.active {
  background-color: #f5f5f5;
  outline: none;
}