html, body, #map {
  height: 100%;
  width: 100%;
  margin: 0;
}
#alert-btn {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 999;
}
/* .fab-controls {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 999;
} */
.fab-icon {
  height: 56px;
  width: 28px;
  pointer-events: none;
}
.fab-icon-small {
  height: 40px;
  width: 20px;
  margin-right: 10px;
  margin-left: 10px;
  pointer-events: none;
}
#gps-btn {
  position: fixed;
  bottom: 86px;
  right: 15px;
  z-index: 999;
}
#fab-btn {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 999;
}
.leaflet-control-locate {
  display: none;
}
.leaflet-left .leaflet-control {
  margin-left: 5px;
}
.leaflet-credits-control {
  margin-bottom: 10px !important;
}
.leaflet-container {
  background-color:rgba(255,0,0,0.0);
}
.modal-div {
  width: 90%;
  max-width: 400px;
  height: 300px;
  margin: 100px auto;
  background-color: #fff;
}
.mui-tabs__pane {
  margin-top: 5px;
  height: 240px;
  overflow: auto;
}