html, body, #map {
  height: 100%;
  width: 100%;
  margin: 0;
}
#map-list-container {
  padding: 5px;
}
#alert-btn {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 999;
}
.fab-icon {
  height: 56px;
  width: 28px;
  pointer-events: none;
}
.fab-icon-small {
  height: 40px;
  width: 20px;
  margin-right: 10px;
  margin-left: 10px;
  pointer-events: none;
}
#gps-btn {
  position: fixed;
  bottom: 86px;
  right: 15px;
  z-index: 999;
}
#fab-btn {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 999;
}
.leaflet-control-locate {
  display: none;
}
.leaflet-popup-content-wrapper {
  border-radius: 4px;
}
.leaflet-popup-content {
  margin: 10px;
}
.leaflet-popup-close-button {
  display: none;
}
.leaflet-container {
  background-color:rgba(255,0,0,0.0);
}